Package: LightController
Version: 1.0
Architecture: all
Maintainer: Denis Zadniprovskiy <dzadnip@microsoft.com>
Depends: python3
Installed-Size: 2.4
Homepage: http://aka.ms
Description: Light Controller
 Light Controller script for Raspberry Pi
